<?xml version="1.0"?>
<config>
    <modules>
        <Empiricompany_Attributearray>
            <version>0.0.1</version>
        </Empiricompany_Attributearray>
    </modules>
    <global>
        <resources>
            <empiricompany_attributearray_setup>
                <setup>
                    <module>Empiricompany_Attributearray</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </empiricompany_attributearray_setup>
        </resources>
        <models>
            <empiricompany_attributearray>
                <class>Empiricompany_Attributearray_Model</class>
            </empiricompany_attributearray>
        </models>
        <blocks>
            <empiricompany_attributearray>
                <class>Empiricompany_Attributearray_Block</class>
            </empiricompany_attributearray>
        </blocks>
        <helpers>
            <attributearray>
                <class>Empiricompany_Attributearray_Helper</class>
            </attributearray>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <easylife>
                        <class>Empiricompany_Attributearray_Model_Observer</class>
                        <method>prepareForm</method>
                    </easylife>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
        </events>
    </adminhtml>
</config>